.skills__category-title {
  
  font-size: 1.25em; /* Example size, adjust as needed */
  color: #948979; /* Ensure this variable is defined or replace with a color */
  margin-bottom: 2em;
  margin-top: 2em;
}

.skills__list {
  max-width: 450px;
  
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0; /* Removes padding if needed */
}


.skills__list-item {
  margin: 0.5em;
  
  color: #f4f4f4; /* Example background, adjust as needed */
  border-radius: 5px; /* Rounded corners for skill items */
  padding: 0.5em 1em; /* Padding around text in skill items */
}
.skill-logo {
  
  
  width: 50px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}

